<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" align="center" style="font-family:Arial,Sans-Serif;font-size:16px;">
            Please <a href="https://www.pkmnapi.com/actions/delete-user?email_address={{ email_address }}&code={{ delete_code }}" style="font-family:Arial,Sans-Serif;font-size:16px;color:#2B303B;font-weight:bold;">click here</a> to delete your access token
        </td>
        <tr>
            <td width="100%" height="10"></td>
        </tr>
        <tr>
            <td width="100%" align="center" style="font-family:Arial,Sans-Serif;font-size:14px;">
                If you did not request this email, someone else may have done so.
            </td>
        </tr>
    </tr>
</table>
